.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;

    .app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 358px;
        height: 330px;
        border: 2px solid gray;
        border-radius: 4px;

        .count {
            display: flex;
            color: gray;
            font-family: Raleway;
            font-style: normal;
            font-weight: 300;
            font-size: 100px;
            border: none;
            padding-bottom: 50px;
            padding-top: 50px;
        }

        .buttons {
            display: flex;

            .btn {
                width: 120px;
                height: 120px;

                button {
                    color: #ffffff;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                    width: 100%;
                    height: 100%;

                    &.button-plus {
                        background-color: green;
                    }

                    &.button-update {
                        background-color: orange;
                    }

                    &.button-minus {
                        background-color: red;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}